# Copie este arquivo para .streamlit/secrets.toml
# e preencha com suas credenciais reais.
# NUNCA suba o secrets.toml para o GitHub.

[snowflake]
account   = "seu_account_aqui"
user      = "seu_usuario_aqui"
password  = "sua_senha_aqui"
warehouse = "COMPUTE_WH"
database  = "DATALAKE"
role      = "ACCOUNTADMIN"
